

/* App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(99, 110, 255, 0.67));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.67));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card styling */
.card {
  padding: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

/* Link styling */
.read-the-docs {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.read-the-docs:hover {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: underline;
}
